<html>
  <body>
    <h1>New Note</h1>
    <form method="post" action="/views/notes">
        <div>
          <label>Comment</label>
          <input name="comment" placeholder="Enter comment text" />
        </div>
        <div>
          <label>Category</label>
          <input name="category" placeholder="Enter category" />
        </div>
        <div>
          <input type="submit" value="Submit" />
        </div>
    </form>
  </body>
</html>
